
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    --bg-color: #ff0000;
    --text-color: #000000;
    --font-family: 'Rubik Pixels', sans-serif, 'Share Tech Mono', monospace, 'Syne Mono', monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #ff0000;
        --text-color: #000;
    }
}

body {
    font-family: var(--font-family);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.4em;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
main.container {
    padding: 2em 0;
}

header#main-header {
    padding: 0;
    display: flex;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}

nav ul li {
    margin: 0;
}

header#main-header,
footer#main-footer {
    background-color: #fc0000;
    color: #FFF;
}

a {
    color: inherit;
}

p, li {
    max-width: 80ch;
}

a.box-link { /*color of the box link letters*/
    color: #ffffff;
    min-width: 42px;
    background-color: #000;
}

a.box-link.active,
a.box-link:hover {
    color: #000;
    background-color: #FFF;
    transition: all 100ms ease-in;
}

section, article {
    margin: 3em auto;
    width: 100%;
    max-width: 1024px;
}

footer#main-footer {
    padding: 0;
}
footer#main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}