/*
* Normalize.css
* A modern, HTML5-ready alternative to CSS resets
* @see: https://necolas.github.io/normalize.css 
*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&family=Share+Tech+Mono&family=Syne+Mono&display=swap');

html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    --bg-color: #ff0000;
    --text-color: #000000;
    --font-family: 'Rubik Pixels', sans-serif, 'Share Tech Mono', monospace, 'Syne Mono', monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #ff0000;
        --text-color: #000;
    }
}

body {
    font-family: var(--font-family);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.4em;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Laptop / Tablet */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

header a {
    color: var(--text-color);
    font-size: 40px;
    padding-top: 40px;
    display: inline-block;
    text-decoration: none;
}

a.active {
    pointer-events: none;
}

footer {
    width: 100%;
    text-align: right;
    padding: 1em;
}

p {
    max-width: 60ch; /* Ancho máximo basado en el ancho del carácter "0" */
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    width: 90%;
    min-width: 290px;
    max-width: 1200px;
}

nav.container {
    padding: 1em;
}
img {
    max-width: 100%;
    height: auto;
}